/* Generales */


html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
}

p {
    font-size: 1.5rem;
    color: #4a4a4a;
    margin-bottom: 30px;
}

h1 {
    margin: 3vw;
}

h2 {
    font-size: 2em;
    color: #1E375A;
    margin-bottom: 20px;
}


/* Nosotros */

.card-container {
    display: flex;
    background-color: #e9f1fa;
    padding: 2vw;
    border-radius: 5px;
    gap: 5vw;
}

.card {
    display: flex;
    width: 12vw;
}

.profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
}


.profile-pic {
    width: 150px;
    height: 150px;
    background-color: #ddd;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-info h2 {
    font-size: 24px;
    color: #333;
}

.subtitle {
    font-size: 18px;
    color: #777;
}


.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background-color: #00aaff;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 12px;
    transition: background-color 0.3s ease;
    margin-bottom: 1vw;
    width: 7vw
}

.btn:hover {
    background-color: #008ecc;
}


@media (max-width: 700px) {
    .card-container {
        display: flex;
        background-color: #e9f1fa;
        flex-direction: column;
        align-items: center;
        gap: 0;
        margin-bottom: 5vw;

    }

    .card {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 5vw;
    }

    .btn {
        background-color: #00aaff;
        color: white;
        padding: 15px 25px;
        text-decoration: none;
        border-radius: 20px;
        font-size: 12px;
        transition: background-color 0.3s ease;
        margin-bottom: 1vw;
        width: 100%;
    }

    h1 {
        margin-bottom: 8vw;
    }
}

@media (min-width: 701px) and (max-width: 1024px) {}